# Xcode
.DS_Store
build/
*.pbxuser
*.xcworkspace
xcuserdata/

# Swift
.DERIVED_DATA/
*.hmap
*.ipa
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.swiftpm
*.xcodeproj/*.xcworkspace/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# IDE
.idea/
*.suo
*.user
*.sxcuserstate

# User-specific files
xcuserdata/
!xcuserdata/user.xcuserdatad/

# Exclude user interface state files
UserInterfaceState.xcuserstate

# Firebase
GoogleService-Info.plist